/* Base */
/* Base styles for html elements  */

// Body
// ------------------------------------------------------------

body{
  color: $dark;
  background: url(/assets/images/bg.jpg) no-repeat top right $background;
}

// Links
// ------------------------------------------------------------

a {
  color: $main;
  text-decoration: none;
  &:link, &:visited, &:active  {color: $main;}
  &:hover { color: darken($main, 20%);}
  &:active, &:hover {outline: none;}
  @include single-transition(color, 100ms, linear);
  &:hover{@include single-transition(color, 100ms, linear);}
}

a img {border: none;}
.hidden{display:none}


/* -------------- =HEADER-------------- */

h1.site-title{
  position: absolute;
  left: 5%;
  top: 0;
  margin: 0;
  padding: 0;
}

.bio, footer{
  padding: 50px 0 0 0;
  display: block;
  clear: both;
}

/* -------------- =CONTENT-------------- */
.content {
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
}

#main-content {position: relative;}

h2{
  margin: 0 0 0 0;
  img{display:none;}
}

/* -------------- =PROJECTS-------------- */
.projects{
  padding:0;
  margin:0;
  li{
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    margin: 2.5%;
    padding:0;
    position: relative;
    left: -2.5%;
    a{
      display: block;
      color: $background;
      padding:0;
      margin: 0;
      font-size: 20px
    }
  }
}

.projects li a{
  img {width: 100%;}
  span {
    position: absolute;
    left: 0;
    display: block;
    width: 90%;
    padding:5%;
    background-color: rgba(0, 0, 0, 0.6);
    @include single-transition(background, 100ms, linear);
    &.title{top: 0;}
    &.info{bottom: 1%;}
  }
  &:hover span.title {background: $main-transparent;@include single-transition(background, 100ms, linear);}
}

/* -------------- =CLIENTS-------------- */
.clients{
  h3{margin-bottom: 4%;}
  ul {
    padding: 0;
    margin: 0 0 4% 0;
    li{
      height: 72px;
      list-style-type: none;
      float: left;
      padding: 0;
      margin: 0 15% 8% 0%;
      width: 140px;
      &:nth-child(2n+2){ margin-right: 0;}
    }
  }
}

.clients ul li {
  span{
    background: url(/assets/images/clients.png) no-repeat 0 0;
    width:140px;
    overflow: hidden;
    text-align: left;
    display: block;
    line-height:0;
    text-indent: -1000em;
  }
  &.kia span{background-position: 0 0; height: 72px;}
  &.good-energy span{background-position: 0 -72px;height: 50px;}
  &.work-the-world span{background-position: 0 -122px; height: 32px;}
  &.puffin span{background-position: 50px -153px; height: 58px;}
  &.onezeroone span{background-position: 34px -211px; height: 62px;}
  &.adventurists span{background-position: 0 -273px;height: 65px;}

}

/* -------------- =VCARD-------------- */
.vcard{
  display: block;
  float: left;
  width: 90%;
  margin: 2.5% 0;
  padding: 5%;
  background: $contact;
  p{
    display: block;
    color: $dark;
    padding: 0;
    margin: 0;
    &.fn{margin-bottom: 30px;}
    &.deets{margin-bottom: 10px;}
    a{
      color: $background;
    &:hover{color:darken($contrast, 10%);}
    }
  }
}

nav.social{
  padding: 0;
  a{
    color: $contrast;
    &:hover{color:darken($contrast, 10%);}
  }
}


/* -------------- =FOOTER-------------- */
footer{
  padding: 20px 0;
  display: block;
}

/* ------------- =IMAGE REPLACEMENT  --------------- */
h1.site-title{
  overflow: hidden;
  text-align: left;
  display: block;
  line-height:0;
  text-indent: -1000em;
  width: 185px;
  height: 32px;
  background: url(/assets/images/logo.gif) no-repeat 0 0; 
}

/* -------------- =CLEARFIX -------------- */

ul:after,
nav:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}