/* Base */
/* Base styles for html elements  */

// Body
// ------------------------------------------------------------

body{
  color: $dark;
  background: $background;
  font-size: 12px;
  font-weight: bold;
}

// Links
// ------------------------------------------------------------

a {
  color: $main;
  text-decoration: none;
  &:hover { color: $contrast;}
  @include single-transition(color, 100ms, linear);
}

.hidden{display:none}


/* -------------- =Headings-------------- */

h1 a{
  color: $background;
  background: $dark;
}


h1, h2, h3, h4{
  color: $dark;
}

h1.site-title{
  padding: 0;
  margin: 0 0 1rem 0;
  a{
    @include font_size(50);
    letter-spacing: -1px;
    line-height: 1rem;
    padding: 0;
    margin: 0;
  }
}

h2{@include font_size(40);}
h3{@include font_size(30);}
h4{@include font_size(20);}


dt{
  font-weight: bold;
}

/* -------------- =Footer-------------- */
footer{
  clear: both;
  display: block;
  text-align: center;
  padding: 50px 10% 90px 10%;
  font-size: 11px;
}