/* Media Queries */
/* Media queries for responsive design breakpooints */

// Print
// ------------------------------------------------------------

@media print {}

/* 480 =================================================== */
@media only screen and (min-width: 480px) {
  
  .projects li{
    width: 46.2%;
    margin: 2.5% 2.5% 2.5% 2.5%;
  }
  
  .projects li:nth-child(2n+2){margin-right: 0;}
  
  .projects li a span.info{bottom: 1.5%;}

  .clients ul li{
    margin: 0 4% 8% 0%;
    &:nth-child(2n+2){ margin-right: 4%;}
    &:nth-child(3n+3){ margin-right: 0;}
  }


}


/* 768 =================================================== */
@media only screen and (min-width: 768px) {

  p.bio{width: 50%}

  .projects{
    float: left;
    width: 68%;
    li {
      width: 46%;
      margin: 2% 2% 2% 2% !important;
      left: -2%;
    }
  }

  .projects li:nth-child(2n+2){margin-right: 2%;}

  h2{
    width: 32%;
    float: right;
    span {display:none;}
    img{width: 100%;display:block;}
    &.projects-title{float: right;margin: 11px 0 0 0;}
    &.contact-title {float: left;margin-top: 5%;clear:both;width: 40%;} 
  }

  .vcard {
    width: 45%;
    float: right;
    margin-top: 5%;
  }

  .projects li a span.info{bottom: 2%;}

  footer{width: 75%;}

  .clients{
    float: right;
    text-align: center;
    width: 32%;
    h3{margin: 8% 0;}
    ul li{
      margin: 0 auto 20px auto;
      float:none;
      height: auto;
      &:first-child{margin-left: auto;}
      &:nth-child(2n+2){ margin-right: auto;}
      &:nth-child(3n+3){ margin-right: auto;}
    }
  }
  
}

/* 992 =================================================== */
@media only screen and (min-width: 992px) {
 .projects li a span.info{bottom: 1.5%;}
}

