// 960
// ------------------------------------------------------------


// Body
// ------------------------------------------------------------
body{
  background: $background image-url("bg.jpg") no-repeat fixed right top;
}

// Header
// ------------------------------------------------------------
header h1{
  position: absolute;
  top: 0;
  left: 0;
}

// Main 
// ------------------------------------------------------------
#main-content{max-width: 940px;}

// Bio / Contact
// ------------------------------------------------------------
.block.text{
  &.bio {height: 460px;}
  &.contact {height: 444px;}
}



// Grid
// ------------------------------------------------------------
.row{
  min-height: 460px;
  clear: both;
}

// Float Left 
.col, .block.text.bio, .block.contact{float: left;}

// Left Padding
.col{
  &.one, &.three, &.four, &.six, &.eight, &.nine{margin-left: 20px;}
}

// Vertical Medium Blocks
.col.two,
.col.four {
  .block.medium{
    margin-right: 0;
    clear: both;
  }
}

// Line Up text blocks
.block.text.bio{margin-top: 69px;}
.col.nine{margin-top: 153px;}

// Web CV
// ------------------------------------------------------------

body.cv_index #main-content{
  max-width: 960px;
}

.block.text.web-cv {margin-top: 80px;}