// 960
// ------------------------------------------------------------


// Body
// ------------------------------------------------------------
body{
  background: $background image-url("bg.jpg") no-repeat fixed right top;
}

// Header
// ------------------------------------------------------------
header h1{
  position: absolute;
  top: 0;
  left: 0;
}

// Main 
// ------------------------------------------------------------
#main-content{max-width: 940px;}

// Bio / Contact
// ------------------------------------------------------------
.block.text{
  width: 400px;
  height: 460px;
}

// Grid
// ------------------------------------------------------------
.row{
  min-height: 460px;
  clear: both;
  &.last{margin-bottom: 104px;}
}

// Float Left 
.col, .block.text.bio, .block.contact{float: left;}

// Left Padding
.col{
  &.one, &.three, &.four, &.six, &.eight, &.nine{margin-left: 20px;max-width: 460px;}
}

// Vertical Medium Blocks
.col.two,
.col.four {
  .block.medium{
    margin-right: 0;
    clear: both;
  }
}

// Line Up text blocks
.block.text.bio{margin-top: 88px;}
.col.nine{margin-top: 152px;}

// Web CV
// ------------------------------------------------------------
// body.cv_index #main-content{max-width: 940px;}
// .block.text.web-cv {margin-top: 80px;}