/* Settings */
/* This is where all vars and mixins are stored for use in all other style sheets */

// Vars
// ------------------------------------------------------------

/* Colours */
$light:#fff;
$dark:#333333;

$main:#ff6c00;          // Orange
$background: #f4f5ec;   // Beige
$contact: #8a6eaf;      // Purple
$contrast: #19e3bd;     // Turquoise

$main-transparent: rgba(255, 108, 0, 0.8);


/* Base Font Size */
$basefont: 16;  




// Mixins
// ------------------------------------------------------------

@mixin list_style_none {
  background: none;
  padding-left: 0;
  list-style-type: none;
  list-style-position: outside;
}

@mixin border_radius($radius: 4px) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin button_style($base-color) {
  display:inline-block;
  background-color: $base-color;
  padding: 14px 24px;
  color: $light;
  font-size: 14px;
  font-weight: bold;
  -webkit-transition: background .1s linear;
  -moz-transition: background .1s linear;
  -o-transition: background .1s linear;
  -ms-transition: background .1s linear;
  transition: background .1s linear;
  text-decoration: none;
  @include border_radius(3px);

  &:hover {
    background: #f26c4f;
    color: #ffffff;
  }
} 

@mixin font_size($size) {
  font-size: $size + px;
  font-size: ($size/$basefont) + 0rem;
}