/* Settings */
/* This is where all vars and mixins are stored for use in all other style sheets */

// Vars
// ------------------------------------------------------------

/* Colours */
$light:#fff;            // White
$dark:#333;          // Dark Gray

$main:#f38430;          // Orange
$background: #f4f5ec;   // Beige
$contact: #8a6eaf;      // Purple
$contrast: #19e3bd;     // Turquoise
$light-contrast: #c3c4b8; //light Beige / grey

$main-transparent: rgba(255, 108, 0, 0.8);

// Social Colours
$twitter: #55acee;
$github: #4183c4;
$instagram: #3f729b;
$lastfm: #d12127;
$facebook: #3b5998;
$linkedin: #006699;
$skype: #00aff0;
$stackoverflow: #fe7a15;




/* Base Font Size */
$basefont: 16;




// Mixins
// ------------------------------------------------------------

@mixin list_style_none {
  background: none;
  padding-left: 0;
  list-style-type: none;
  list-style-position: outside;
}

@mixin font_size($size) {
  font-size: $size + px;
  font-size: ($size/$basefont) + 0rem;
}

@mixin block_size($size) {
  width: $size + px;
  height: $size + px;
}

@mixin transform($params) {
    -webkit-transform: $params;
    -moz-transform:    $params;
    transform:         $params;
}
