/* Typography */
/* Font families, sizes and styles */

// Base Fonts
// ------------------------------------------------------------

html, body, textarea, input {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size : (($basefont * 100) / 16) + 0%;
  word-spacing:2px;
}


// Font Face
// ------------------------------------------------------------

@font-face {
  font-family: 'JeanLucWeb-Thin';
  src: url('/assets/fonts/jeanlucweb-thin.eot');
  src: local('☺'), url("/assets/fonts/jeanlucweb-thin.woff") format("woff"),
                   url("/assets/fonts/jeanlucweb-thin.otf") format("opentype"),
                   url("/assets/fonts/jeanlucweb-thin#webfontdsa4toug") format("svg");
}

@font-face {
  font-family: 'Entypo Social';
  src: url('/assets/fonts/entypo-social.eot');
  src: local('☺'), url("/assets/fonts/entypo-social.woff") format("woff"),
                   url("/assets/fonts/entypo-social.otf") format("opentype"),
                   url("/assets/fonts/entypo-social.svg") format("svg");
}





h1, h2, h3, h4, h5, .projects li a span.title{
  font-family: 'JeanLucWeb-Thin', Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
}


.social a {
  font-family: 'Entypo Social';
  font-size: 50px;
  line-height: 1 !important;
}

// Font Size
// ------------------------------------------------------------

  
  h2 {@include font_size(38);}

  span.info, .bio, footer{@include font_size(12);font-weight: bold;}

  footer{@include font_size(10);}