/* Typography */
/* Font families, sizes and styles */

// Base Fonts
// ------------------------------------------------------------

html, body, textarea, input {
  font-family: 'Karla', Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size : (($basefont * 100) / 16) + 0%;
  word-spacing:2px;
}


// Font Face
// ------------------------------------------------------------

@font-face {
  font-family: 'JeanLucWeb-Thin';
  src: url('/assets/fonts/jeanlucweb-thin.eot');
  src: local('☺'), url("/assets/fonts/jeanlucweb-thin.woff") format("woff"),
                   url("/assets/fonts/jeanlucweb-thin.otf") format("opentype"),
                   url("/assets/fonts/jeanlucweb-thin#webfontdsa4toug") format("svg");
}

h1{
  font-family: 'JeanLucWeb-Thin', Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
}

h2, h3{font-size: 36px;padding: 0;margin:0;text-rendering: optimizeLegibility;}