/* Typography */
/* Font families, sizes and styles */

// Base Fonts
// ------------------------------------------------------------

html, body, textarea, input {
  font-family: 'Karla', Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size : (($basefont * 100) / 16) + 0%;
  word-spacing:2px;
}


// Font Face
// ------------------------------------------------------------

@font-face {
  font-family: 'JeanLucWeb-Thin';
  src: url('/assets/fonts/jeanlucweb-thin.eot');
  src: local('☺'), url("/assets/fonts/jeanlucweb-thin.woff") format("woff"),
                   url("/assets/fonts/jeanlucweb-thin.otf") format("opentype"),
                   url("/assets/fonts/jeanlucweb-thin#webfontdsa4toug") format("svg");
}

@font-face {
  font-family: 'Blackout-2am';
  src: url('/assets/fonts/blackout_two_am-webfont.eot');
  src: local('☺'), url("/assets/fonts/blackout_two_am-webfont.woff") format("woff"),
                   url("/assets/fonts/blackout_two_am-webfont.otf") format("opentype"),
                   url("/assets/fonts/blackout_two_am-webfont.svg") format("svg");
}


h1{
  font-family: 'Blackout-2am', Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h2, h3{font-size: 36px;padding: 0;margin:0;}