<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
  <title>Discoliam.com | Forgive me for screaming...</title>
    
    <!-- so:meta-->
      <meta charset="utf-8">
      <meta name="robots" content="all" />
  
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;"/>
  
      <meta name="description" content="Liam Richardson to is a Front End Developer based in Bristol, UK." />
      <meta name="keywords" content="Liam Richardson, Discoliam, Front, End, Web, Developer, Front End, Front End Dev, Front End Developer, HTML, CSS, Javascrtipt, JS, Websites, Build, Bristol, UK" />
  
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta http-equiv="content-language" content="en" />
  
      <meta name="robots" content="noodp,noydir" />
  
      <meta name="author" content="Liam Richardson" />
      <meta name="copyright" content="2013, Liam Richardson" />
  
      <meta name="Geo.Country" content="GB" />
      <meta name="Geo.Region" content="GB-BST" />
    <!-- eo:meta-->
  
    <!-- so:favicon: -->
      <link rel="shortcut icon" href="/favicon.ico">
    <!-- eo:favicon: -->
  
    <%= stylesheet_link_tag 'application' %>
        
    <!-- so:header JS -->    
  
      <!-- Google Analytics -->
      
        <!-- <script type="text/javascript"> 

          // var _gaq = _gaq || [];
          // _gaq.push(['_setAccount', 'UA-XXXXX-X']);
          // _gaq.push(['_trackPageview']);

          // (function() {
          //   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          //   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          //   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          // })();

         </script> -->
      
      <!-- End Google Analytics -->
  
    <!-- eo:header JS -->
  </head>

  <body>
    <a href="#main-content" class="hidden">Skip to Main Content</a>
    <div class="content">
      <h1 class="site-title"><a href="/" title="Discoliam">Discoliam</a></h1>
      <p class="bio">Discoliam (Liam Richardson to his parents) is a Front End Developer based in Bristol, UK. He builds award wining websites at <a href="http://www.wearebeef.co.uk" title="Beef">Beef</a>, rides bikes, goes to gigs and eats falafel.</p>
      
    <%= yield %>
    
      <footer>
        <p class="copy">&copy; 2006 – 2013 Liam Richardson. All rights reserved. Built using <a href="http://middlemanapp.com/" title="Middleman App">Middleman</a>, <a href="http://sass-lang.com" title="SASS">SASS</a>, and plenty of trial and error. Based on an original design by Richard Windsor. </p>
      </footer>
    </div>
  </body>
  
</html>