/* -------------- =STYLE -------------- */
.hidden{display:none}
/* -------------- =@FONT FACE -------------- */
@font-face {
  font-family: 'JeanLucWeb-Thin';
  src: url('/assets/fonts/jeanlucweb-bold.eot');
  src: local('☺'), url("/assets/fonts/jeanlucweb-thin.woff") format("woff"),
                   url("/assets/fonts/jeanlucweb-thin.otf") format("opentype"),
                   url("/assets/fonts/jeanlucweb-thin#webfontdsa4toug") format("svg");
}

/* -------------- =BODY-------------- */
body{
  color: #000;
  background: url(/assets/images/bg.jpg) no-repeat top right #f4f5ec;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

a{color: #ff6c00;text-decoration: none;}
a:hover{color: #000;}

h1, h2, h3, h4, h5, .projects li a, nav.social a{
  font-family: 'JeanLucWeb-Thin', Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
}

/* -------------- =HEADER-------------- */

h1.site-title{
  position: absolute;
  left: 5%;
  top: 0;
  margin: 0;
  padding: 0;
}

.bio{
  font-size: 12px;
  font-weight:bold;
  padding: 38px 0 0 0;
}

/* -------------- =CONTENT-------------- */
.content {
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
}

#main-content {
  position: relative;
}

h2{font-size: 38px}

/* -------------- =PROJECTS-------------- */
.projects{
  padding:0;
  marign:0;
}

.projects li{
  display: block;
  float: left;
  width: 100%;
  height: 100%x;
  margin: 0 0 5% 0;
  padding:0;
}

.projects li a{
  display: block;
  color: #f4f5ec;
  position: relative;
  padding:0;
  margin: 0;
  font-size: 20px
}

.projects li a img {
  width: 100%;
  padding:0;
  margin: 0;
}

.projects li a span{
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 90%;
  padding:5%;
  background-color: rgba(0, 0, 0, 0.6);
}

.projects li a:hover span {
  background: #f06600;
}

/* -------------- =GENERAL-------------- */
nav.social a, .vcard{
  display: block;
  float: left;
  width: 100%;
  height: 130px;
  margin: 0 0 5% 0;
}

/* -------------- =VCARD-------------- */
.vcard{
  background: #8a6eaf;
}

.vcard p{
  display: block;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  padding: 0 2%;
  marign: 0;
}

.vcard p.fn{margin: 10px 0 9%;}

.vcard p.deets a,
.vcard p.deets span{
  display: block;
}

.vcard p a{color: #f4f5ec;}
.vcard p a:hover{color: #19e3bd;}

/* -------------- =LINK-------------- */
nav.social a{
  color: #f4f5ec;
  text-align: center;
  vertical-align: middle;
  font-size: 38px;
  position: relative;
  height: 40px
}

nav.social a span{
  position: absolute;
  top: 50%;
  margin-top: -19px;
  color: #000;
  right: 10%;
}

nav.social a.facebook {background: #3B5998 url(/assets/images/facebook-logo.png) right center no-repeat;}
nav.social a.twitter {background: #00A0D1 url(/assets/images/twitter-logo.png) right center no-repeat;}
nav.social a.flickr {background: #fff url(/assets/images/flickr-logo.png) center center no-repeat;background-size: cover;color: black;}
nav.social a.lastfm {background: #D51007;}
nav.social a.github {background: #ddd url(/assets/images/github-logo.png) no-repeat right center;color:black;   }

nav.social a.facebook:hover {background:#f06600;}
nav.social a.twitter:hover {background:#f06600;}
nav.social a.flickr:hover {background:#f06600;}
nav.social a.lastfm:hover {background:#f06600;}
nav.social a.github:hover {background:#f06600;}



/* ------------- =IMAGE REPLACEMENT  --------------- */
h1.site-title{
  overflow: hidden;
  text-align: left;
  display: block;
  line-height:0;
  text-indent: -1000em;
}

h1.site-title{
  width: 185px;
  height: 32px;
  background: url(/assets/images/logo.gif) no-repeat 0 0; 
}


/* -------------- =CLEARFIX -------------- */

form p:after,
form:after,
ul:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}


/* ------------- =LARGE SIZES --------------- */

/* 480 =================================================== */
@media only screen and (min-width: 480px) {
  .projects li, nav.social a{
    width: 49%;
    margin: 0 2% 2% 0;
  }
  
  .projects li:nth-child(2n), nav.social a:nth-child(2n){margin-right: 0;}
  
  form, .vcard{width: 100%;}
  nav{display: block;clear: both}

}


/* 768 =================================================== */
@media only screen and (min-width: 768px) {
  .projects li, nav.social a {
    width: 32%;
    margin: 0 2% 2% 0 !important;
  }

    
  .vcard {
    width: 70%;
    margin: 20px 15%;
  }
  
  .projects li:nth-child(3n), nav.social a:nth-child(2n){margin-right: 0 !important;}
  
  p.bio{width: 70%}

  h2.projects-title{float: right;}
  h2.contact-title {margin: 0 auto;}

   nav.social a{
    width: 48%;
    height:80px;
  }

  
  /* ------------- =IMAGE REPLACEMENT  --------------- */
  h2{
    overflow: hidden;
    text-align: left;
    display: block;
    line-height:0;
    text-indent: -1000em;
  }

  h2.projects-title{
    width: 391px;
    height: 276px;
    background: url(/assets/images/projects-title.png) no-repeat 0 0; 
  }
  
  h2.contact-title{
    width: 460px;
    height: 283px;
    background: url(/assets/images/contact-title.gif) no-repeat 0 0; 
  }
  
}

/* 992 =================================================== */
@media only screen and (min-width: 992px) {
  .projects li {
    width: 25%;
    margin: 0 2% 2% 0 !important;
  }

  h2.contact-title{
    float: left;
    margin-bottom: 40px
  }

  .vcard{
    float:right;
    width: 45%;
    margin: 40px 0;
  }

  nav.social a{
    width: 32%;
    height:80px;
  }

  nav.social a:nth-child(2n){margin-right: 2% !important;}
  nav.social a:nth-child(3n){margin-right: 0 !important;}


  
}