<section id="main-content" role="main">
  
  <article class="block text web-cv">
    <h2>Liam Richardson - CV</h2>

    <p>I am an Interactive Developer with an extensive and in depth knowledge of Front End build and delivery. As a department lead, I have been responsible for the Front End output of a well respected agency. I have also lead a team of developers and freelancers, working with clients and other department leads. I am comfortable with all stages of the project life-cycle. Working closely with Design and Development Leads, I am able to plan the approach and process of a project. I often take part in the creative process, forming ideas and solutions to creative or technical problems. Thanks to this, as well as strong communication skills, I often act as the go-to point of contact for colleges and clients.
    </p>
    <p>I have worked with public organisations, SME’s and large brands to develop Interactive campaigns, responsive websites, and mobile specific sites and apps. Outside of the office, I volunteer with charities to help with their websites. I regularly attend web events and meet-ups, as well as working with friends to develop sites for their own projects. The following is a brief list of the technologies, software and tools I have experience in:</p>

    <dl>
      <dt>Languages</dt>
      <dd>HTML(5)</dd>
      <dd>CSS(3)</dd>
      <dd>SASS(SCSS)</dd>
      <dd>Javascript</dd>
      <dd>jQuery</dd>
      <dd>Ruby (on Rails)</dd>
      <dd>PHP</dd>

      <dt>Software</dt>
      <dd>Noodall
      <dd>Wordpress
      <dd>Expression Engine
      <dd>Middleman
      <dd>Compass
      <dd>Perch
      <dd>Sinatra
      <dd>Grunt

      <dt>Tools</dt>
      <dd>Terminal
      <dd>Adobe Photoshop
      <dd>Git
      <dd>SVN

      <dt>Methodologies</dt>
      <dd>SMACSS
      <dd>BEM
      <dd>GitFlow

    </dl>



    <p>Further to this, I have worked on projects that have involved Node, Backbone, CoffeeScript, PhoneGap among others, though I still class myself as a beginner in these areas.</p>

    <h3>Employment:</h3>

    <h4>Lead Web Developer, Beef Ltd, Bristol - <span>May 2012 - April 2014</span></h4>
    <p>After progressing to the role of Lead Web Developer, I became responsible for Front End Development within the agency. As well as ensuring the quality of work undertaken, I lead the Web Development team in their day to day tasks. I support their ongoing development, insuring disciplines, best practice and standards met. I coordinate with the Development, Design and Account Leads, to devise new ideas, concepts and solutions that best meet a clients requirements. </p>

    <p>On small to medium scale websites, I am often the Technical Lead, working with off-the-shelf CMS's and applications. I am able to direct the technical direction or projects, as well as design features and advise on the feasibility of creative concepts. I often work with clients in meetings and conference calls, gathering requirements, scoping and prototyping technical solutions. Working with Producers and Account Managers I help define requirements, scope work and give time estimations. I also write technical documentation such as functional specifications, features and statements of work.</p>

    <h4>Front End Developer, Beef Ltd, Bristol - <span>June 2010 - May 2012</span></h4>
    After completing my degree I was offered a role with Beef based upon my performance during my placement year. During this period, I continued my technical development, learning new technologies, methodologies and best practice, moving quickly from a junior to mid level role. I worked with Design and Development teams to best realise the creative and technical goals of projects.

    <h4>Placement Year with Beef Ltd, Bristol - <span>August 2008 - July 2009</span></h4>
    I completed a placement year between the 2nd and 3rd years of my degree. I worked on a range of internal and client projects. My role mostly involved developing HTML, CSS and some JavaScript. As the year progressed I became more involved with the full project process, working more with Technical and Design teams.

    <h3>Education:</h3>

    <h4>Degree:</h4>
    BSc (Hons) Web Design, 1st Class - University of the West of England, Bristol, June 2010

    <h4>A-Levels:</h4>
    6th Form Collage, Farnborough, June 2006
    5 A-C Grade A-Levels / AS-Levels Including Computing, Media Studies and Photography

    <h4>GCSEs:</h4>
    Court Moor School, Fleet, June 2004
    9 A-C Grades including English, Maths, Science, ICT

    <h3>Interests:</h3>

    <p>Outside of the web I am a keen cyclist, riding both on and off road, and fall of more than I would care to admit. I attend lots of gigs and festivals, and in a past life ran a local music blog, interviewing and reviewing local bands for my website / local press. I’m also a amateur photographer, preferring to shoot on film rather than digital.</p>

    <h3>References:</h3>
    <p>Available on request</p>


  </article>

  <nav class="social">
    <a href="http://twitter.com/discoliam" class="block small twitter" title="Twitter"><span>Twitter</span><img src="/assets/images/blank.png" class="overlay" /></a>
    <a href="https://github.com/discoliam" class="block small github" title="Github"><span>Github</span><img src="/assets/images/blank.png" class="overlay" /></a>
    <a href="http://instagram.com/discoliam" class="block small instagram" title="Instergram"><span>Instagram</span><img src="/assets/images/blank.png" class="overlay" /></a>
    <a href="http://www.last.fm/user/discoliam" class="block small lastfm" title="Last.fm"><span>Last.fm</span><img src="/assets/images/blank.png" class="overlay" /></a>
    <a href="http://www.facebook.com/liamrichardson" class="block small facebook" title="Facebook"><span>Facebook</span><img src="/assets/images/blank.png" class="overlay" /></a>
    <a href="http://www.linkedin.com/in/liamrichardson" class="block small linkedin" title="LinkedIn"><span>LinkedIn</span><img src="/assets/images/blank.png" class="overlay" /></a>
    <a href="skype:discoliam?call" class="block small skype" title="Skype"><span>Skype</span><img src="/assets/images/blank.png" class="overlay" /></a>
    <a href="http://stackoverflow.com/users/3324005/discoliam" class="block small stackoverflow" title="Stack Ovrflow"><span>Stack Overflow</span><img src="/assets/images/blank.png" class="overlay" /></a>
  </nav>

</section><!-- eo:main-content -->