<section id="main-content" role=“main”>
  <h2 class="projects-title"><span>Projects</span><img src="/assets/images/projects-title.png" alt="Project-title" /></h2>
  <ul class="projects">
    <li>
      <a href="http://www.personabmx.com/" title="Persona BMX">
        <img src="/assets/images/persona.png" alt="BMX Photo by Robin Pearson" />
        <span class="title">Persona BMX</span>
        <span class="info">Website for BMX Photographer Robin Pearson</span>
      </a>
    </li>
    <li>
      <a href="http://longfox.co.uk" title="Longfox">
        <img src="/assets/images/longfox.jpg" alt="Longfox Artwork" />
        <span class="title">Longfox</span>
        <span class="info">Website for the Long Fox art colective</span>
      </a>
    </li>
    <li>
      <a href="http://moustachebooth.herokuapp.com/" title="Moustache Booth">
        <img src="/assets/images/moustache.jpg" alt="Image of Moustache Booth Beta being used." />
        <span class="title">Moustache Booth</span>
        <span class="info">getUserMedia experiment (w/ Craig Coles)</span>
      </a>
    </li>
    <li>
      <a href="https://github.com/discoliam/yodo" title="Platter">
        <img src="/assets/images/platter.png" alt="Screenshot of Github page." />
        <span class="title">Yodo</span>
        <span class="info">A website starting point</span>
      </a>
    </li>
    <li>
      <a href="http://brizzle-ipsum.herokuapp.com" title="Brizzle Ipsum">
        <img src="/assets/images/brizzle-ipsum.png" alt="Brizzle Ipsum Logo" />
        <span class="title">Brizzle Ipsum</span>
        <span class="info">Brizzle Ipsum Generator (w/ Craig Coles)</span>
      </a>
    </li>
  </ul>

  <section class="clients">
    <h3>He's also had the opportunity to work via various agencies for these clients:</h3>
    <ul>
      <li class="good-energy"><a href="http://www.goodenergy.co.uk" title="Good Energy">Good Energy</a></li>
      <li class="gap-medics"><a href="http://www.gapmedics.co.uk" title="Gap Medics">Gap Medics</a></li>
      <li class="work-the-world"><a href="http://www.worktheworld.co.uk" title="Work The World">Work The World</a></li>
      <li class="rau"><a href="http://rau.ac.uk/" title="Work the World">Royal Agricultural University</a></li>
      <li class="bdh"><a href="http://www.bdh.net" title="BDH">BDH</a></li>
      <li class="puffin"><a href="http://www.jeremystrong.co.uk" title="Jeremy Strong">Puffin</a></li>
      <li class="transparency"><a href="http://www.transparency.org/glossary#/" title="Transparency International">Transparency International</a></li>
      <li class="market-watch"><a href="http://www.market-watch.eu" title="Market Watch">Market Watch</a></li>
      <li class="twc"><a href="http://www.togetherwecan.org.uk/" title="Together we Can">Together we Can</a></li>
      <li class="kia">Kia</li>
      <li class="adventurists">The Adventurists</li>
      <li class="onezeroone">101</li>
      <li class="scouts">Scouts</li>
    </ul>
  </section>


  <h2 class="contact-title"><img src="/assets/images/contact-title.gif" alt="Contact title" /><span>Contact</span></h2>

  <div class="vcard">
    <span class="fn">Liam Richardson</span>
    <a href="mailto:hello@discoliam.com" class="email">hello@discoliam.com</a>
    <a class="tel">(+44) 07896411112</a>
  </div>

  <nav class="social">
    <a href="http://twitter.com/discoliam" class="twitter" title="Twitter">Twitter</a>
    <a href="https://github.com/discoliam" class="github" title="Github">Github</a>
    <a href="http://instagram.com/discoliam" class="instagram" title="Instergram">Instagram</a>
    <a href="http://www.last.fm/user/discoliam" class="lastfm" title="Last.fm">Last.fm</a>
    <a href="http://www.facebook.com/liamrichardson" class="facebook" title="Facebook">Facebook</a>
    <a href="http://www.linkedin.com/in/liamrichardson" class="linked-in" title="LinkedIn">LinkedIn</a>
    <a href="http://stackoverflow.com/users/3324005/discoliam" class="stack-overflow" title="Stack Ovrflow">Stack Overflow</a>
    <a href="skype:discoliam?call" class="skype" title="Skype">Skype</a>
  </nav>
  </div>
</section>