<section id="main-content">
        <h2 class="projects-title"><span>Projects</span><img src="/assets/images/projects-title.png" alt="Project-title" /></h2>
        <ul class="projects">
          <li>
            <a href="http://www.personabmx.com/" title="Persona BMX">
              <img src="/assets/images/persona.jpg" alt="Longfox Artwork" />
              <span class="title">Persona BMX</span>
              <span class="info">Design and Build</span>
            </a>
          </li>
          <li>
            <a href="http://longfox.co.uk" title="Longfox">
              <img src="/assets/images/longfox.jpg" alt="Longfox Artwork" />
              <span class="title">Longfox</span>
              <span class="info">Build</span>
            </a>
          </li>
          <li>
            <a href="http://moustachebooth.herokuapp.com/" title="Moustache Booth">
              <img src="/assets/images/moustache.jpg" alt="#" />
              <span class="title">Moustache Booth</span>
              <span class="info">Co Built with Craig Coles</span>
            </a>
          </li>
          <li>
            <a href="https://github.com/craigcoles/Platter" title="Platter">
              <img src="/assets/images/platter.png" alt="#" />
              <span class="title">Platter</span>
              <span class="info">Co Built with Craig Coles</span>
            </a>
          </li>
        </ul>
        <h2 class="contact-title"><img src="/assets/images/contact-title.gif" alt="Contact title" /><span>Contact</span></h2>
        <div class="vcard">
          <p class="fn">Liam Richardson</p>
          <p class="deets">
            <span class="tel">07896411112</span>
            <a href="mailto:discoliam@googlemail.com" class="email">discoliam@googlemail.com</a>
          </p>

          <nav class="social">
            <a href="http://www.facebook.com/liamrichardson" class="facebook" title="Facebook">&#62220;</a>
            <a href="http://twitter.com/discoliam" class="twitter" title="Twitter">&#62217;</a>
            <a href="http://www.last.fm/user/discoliam" class="lastfm" title="Last.fm">&#62241;</a>
            <a href="https://github.com/discoliam" class="github" title="Github">&#62208;</a>
            <a href="http://www.linkedin.com/in/liamrichardson" class="linked-in" title="LinkedIn">&#62232;</a>
            <a href="http://instagram.com/discoliam" class="instagram" title="Instergram">&#62253;</a>
            <a href="skype:discoliam?call" class="skype" title="Skype">&#62265;</a>
          </nav>
        </div>
      </section>