<section id="main-content">
        <h2 class="projects-title"><span>Projects</span><img src="/assets/images/projects-title.png" alt="Project-title" /></h2>
        <ul class="projects">
          <li>
            <a href="http://www.personabmx.com/" title="Persona BMX">
              <img src="/assets/images/persona.jpg" alt="Longfox Artwork" />
              <span class="title">Persona BMX</span>
              <span class="info">Design and Build</span>
            </a>
          </li>
          <li>
            <a href="http://longfox.co.uk" title="Longfox">
              <img src="/assets/images/longfox.jpg" alt="Longfox Artwork" />
              <span class="title">Longfox</span>
              <span class="info">Build</span>
            </a>
          </li>
          <li>
            <a href="http://moustachebooth.herokuapp.com/" title="Moustache Booth">
              <img src="/assets/images/moustache.jpg" alt="#" />
              <span class="title">Moustache Booth</span>
              <span class="info">Co Built with Craig Coles</span>
            </a>
          </li>
          <li>
            <a href="https://github.com/craigcoles/Platter" title="Platter">
              <img src="/assets/images/platter.png" alt="#" />
              <span class="title">Platter</span>
              <span class="info">Co Built with Craig Coles</span>
            </a>
          </li>
        </ul>
        <h2 class="contact-title"><img src="/assets/images/contact-title.gif" alt="Contact title" /><span>Contact</span></h2>
        <div class="vcard">
          <p class="fn">Liam Richardson</p>
          <p class="deets">
            <span class="tel">07896411112</span>
            <a href="mailto:discoliam@googlemail.com" class="email">discoliam@googlemail.com</a>
          </p>
          <nav class="social">
            <a href="#" class="facebook" title="Facebook">Facebook</a>
            <a href="#" class="twitter" title="Twitter">Twitter</a>
            <a href="#" class="flickr" title="Flickr">Flickr</a>
            <a href="#" class="lastfm" title="Last.fm">Last.fm</a>
            <a href="#" class="github" title="Github">Github</a>
            <a href="#" class="lanyrd" title="Lanyrd">Lanyrd</a>
            <a href="#" class="linked-in" title="LinkedIn">LinkedIn</a>
            <a href="#" class="instagram" title="Instergram">Instergram</a>
            <a href="#" class="skype" title="Skype">Skype</a>
          </nav>
        </div>
      </section>