<section id="main-content">
        <h2 class="projects-title"><span>Projects</span><img src="/assets/images/projects-title.png" alt="Project-title" /></h2>
        <ul class="projects">
          <li>
            <a href="http://www.personabmx.com/" title="Persona BMX">
              <img src="/assets/images/persona.png" alt="BMX Photo by Robin Pearson" />
              <span class="title">Persona BMX</span>
              <span class="info">Website for BMX Photographer Robin Pearson</span>
            </a>
          </li>
          <li>
            <a href="http://longfox.co.uk" title="Longfox">
              <img src="/assets/images/longfox.jpg" alt="Longfox Artwork" />
              <span class="title">Longfox</span>
              <span class="info">Website for the Long Fox art colective</span>
            </a>
          </li>
          <li>
            <a href="http://moustachebooth.herokuapp.com/" title="Moustache Booth">
              <img src="/assets/images/moustache.jpg" alt="Image of Moustache Booth Beta being used." />
              <span class="title">Moustache Booth</span>
              <span class="info">getUserMedia experiment (w/ Craig Coles)</span>
            </a>
          </li>
          <li>
            <a href="https://github.com/craigcoles/Platter" title="Platter">
              <img src="/assets/images/platter.png" alt="Scrrenshot of Github page." />
              <span class="title">Platter</span>
              <span class="info">A website starting point (w/ Craig Coles)</span>
            </a>
          </li>
          <li>
            <a href="http://brizzle-ipsum.herokuapp.com" title="Brizzle Ipsum">
              <img src="/assets/images/brizzle-ipsum.png" alt="Brizzle Ipsum Logo" />
              <span class="title">Brizzle Ipsum</span>
              <span class="info">Brizzle Ipsum Generator (w/ Craig Coles)</span>
            </a>
          </li>
        </ul>

        <section class="clients">
          <h3>He's also worked on projects with various agencies for clients such as:</h3>
          <ul>
            <li class="kia"><span>Kia</span></li>
            <li class="good-energy"><span>Good Energy</span></li>
            <li class="adventurists"><span>The Adventurists</span></li>
            <li class="work-the-world"><span>Work The World</span></li>
            <li class="onezeroone"><span>101</span></li>
            <li class="rau"><span>Royal Agricultural University</span></li>
            <li class="puffin"><span>Puffin</span></li>
          </ul>
        </section>


        <h2 class="contact-title"><img src="/assets/images/contact-title.gif" alt="Contact title" /><span>Contact</span></h2>
        <div class="vcard">
          <p class="fn">Liam Richardson</p>
          <p class="deets">
            <a href="mailto:hello@discoliam.com" class="email">hello@discoliam.com</a>
          </p>

          <nav class="social">
            <a href="http://twitter.com/discoliam" class="twitter" title="Twitter">&#62217;</a>
            <a href="https://github.com/discoliam" class="github" title="Github">&#62208;</a>
            <a href="http://instagram.com/discoliam" class="instagram" title="Instergram">&#62253;</a>
            <a href="http://www.last.fm/user/discoliam" class="lastfm" title="Last.fm">&#62241;</a>
            <a href="http://www.facebook.com/liamrichardson" class="facebook" title="Facebook">&#62220;</a>

            <a href="http://www.linkedin.com/in/liamrichardson" class="linked-in" title="LinkedIn">&#62232;</a>
            <a href="skype:discoliam?call" class="skype" title="Skype">&#62265;</a>
          </nav>
        </div>
      </section>