<section id="main-content" role="main">
  
  <article class="block text bio">
    <h2 class="projects-title">Projects</h2>

    <p class="contact-deets">
      07737415300<br />
      <a href="mailto:hello@discoliam.com">hello@discoliam.com</a>
    </p>

    <p>Discoliam (Liam Edward Richardson to his parents) is a Front End Developer based in Bristol, UK.  He builds award wining websites, rides bicycles, enjoys live music and eats falafel.</p>
  </article>

  <div class="col one">
    <a href="http://www.personabmx.com/" title="Persona BMX" class="block large persona-bmx">
      <span class="title">Persona BMX</span>
      <span class="desc">Website for BMX Photographer Robin Pearson</span>
      <img src="/assets/images/blank.png" class="overlay" />
    </a>
    <a href="http://www.goodenergy.co.uk" title="Good Energy" class="block medium good-energy"><span>Good Energy</span><img src="/assets/images/blank.png" class="overlay" /></a>
    <a href="http://www.gapmedics.co.uk" title="Gap Medics" class="block medium gap-medics"><span>Gap Medics</span><img src="/assets/images/blank.png" class="overlay" /></a>
  </div>

  <div class="row">
    <div class="col two">
      <a href="http://www.worktheworld.co.uk" title="Work The World" class="block medium work-the-world"><span>Work The World</span><img src="/assets/images/blank.png" class="overlay" /></a>
      <a href="http://rau.ac.uk" title="Royal Agricultural University" class="block medium rau"><span>Royal Agricultural University</span><img src="/assets/images/blank.png" class="overlay" /></a>
    </div>
    
    <div class="col three">
      <a href="http://longfox.co.uk" title="Long Fox" class="block large longfox">
        <span class="title">Long Fox</span>
        <span class="desc">Website for the Long Fox art collective</span>
        <img src="/assets/images/blank.png" class="overlay" />
      </a>
    </div>
    
    <div class="col four">
      <a href="http://www.bdh.net" title="BDH" class="block medium bdh"><span>BDH</span><img src="/assets/images/blank.png" class="overlay" /></a>
      <a href="http://www.jeremystrong.co.uk" title="Jeremy Strong" class="block medium puffin"><span>Puffin</span><img src="/assets/images/blank.png" class="overlay" /></a>
    </div>

  </div>

  <div class="row">
    <div class="col five">
      <a href="http://www.transparency.org/glossary#/" title="Transparency International" class="block medium transparency"><span>Transparency International</span><img src="/assets/images/blank.png" class="overlay" /></a>
      <a href="http://www.market-watch.eu" title="Market Watch" class="block medium market-watch"><span>Market Watch</span><img src="/assets/images/blank.png" class="overlay" /></a>
      <article class="block medium kia"><span>Kia</span><img src="/assets/images/blank.png" class="overlay" /></article>
      <article class="block medium the-adventurists"><span>The Adventurists</span><img src="/assets/images/blank.png" class="overlay" /></article>
    </div>

    <div class="col six">
      <a href="http://moustachebooth.herokuapp.com" title="Moustache Booth" class="block large moustache-booth">
        <span class="title">Moustache Booth</span>
        <span class="desc">getUserMedia experiment (w/ Craig Coles)</span>
        <img src="/assets/images/blank.png" class="overlay" />
      </a>
    </div>

  </div>

  <div class="row">

    <div class="col seven">
      <a href="http://brizzle-ipsum.herokuapp.com" title="Brizzle Ipsum" class="block large brizzle-ipsum">
        <span class="title">Brizzle Ipsum</span>
        <span class="desc">Brizzle Ipsum Generator (w/ Craig Coles)</span>
        <img src="/assets/images/blank.png" class="overlay" />
      </a>
    </div>

    <div class="col eight">
      <article class="block medium onezeroone"><span>101</span><img src="/assets/images/blank.png" class="overlay" /></article>
      <article class="block medium scouts"><span>Scouts</span><img src="/assets/images/blank.png" class="overlay" /></article>
    </div>

  </div>
  
  <section class="block text contact vcard">
    <h2 class="contact-title">Contact</h2>
    <p>
      (+44) 0789 6411 112<br />
      <a href="mailto:hello@discoliam.com" class="email">hello@discoliam.com</a>
    </p>
    <p class="fn">
      Liam Richardson
      <span class="role">Interactive Developer</span>
    </p>
  </section>

  <div class="col nine">
      <section class="block text cv">
    <h3>Curriculum vitae</h3>
    <div class="cv-links">
      <a href="/liam-richardson-cv.pdf" title="Download CV">Download <span>(PDF)</span></a>
      <!-- <a href="#" title="View CV">View</a> -->
    </div>
  </section>

  <nav class="social">
    <a href="http://twitter.com/discoliam" class="block small twitter" title="Twitter"><span>Twitter</span><img src="/assets/images/blank.png" class="overlay" /></a>
    <a href="https://github.com/discoliam" class="block small github" title="Github"><span>Github</span><img src="/assets/images/blank.png" class="overlay" /></a>
    <a href="http://instagram.com/discoliam" class="block small instagram" title="Instergram"><span>Instagram</span><img src="/assets/images/blank.png" class="overlay" /></a>
    <a href="http://www.last.fm/user/discoliam" class="block small lastfm" title="Last.fm"><span>Last.fm</span><img src="/assets/images/blank.png" class="overlay" /></a>
    <a href="http://www.facebook.com/liamrichardson" class="block small facebook" title="Facebook"><span>Facebook</span><img src="/assets/images/blank.png" class="overlay" /></a>
    <a href="http://www.linkedin.com/in/liamrichardson" class="block small linkedin" title="LinkedIn"><span>LinkedIn</span><img src="/assets/images/blank.png" class="overlay" /></a>
    <a href="skype:discoliam?call" class="block small skype" title="Skype"><span>Skype</span><img src="/assets/images/blank.png" class="overlay" /></a>
    <a href="http://stackoverflow.com/users/3324005/discoliam" class="block small stackoverflow" title="Stack Ovrflow"><span>Stack Overflow</span><img src="/assets/images/blank.png" class="overlay" /></a>
  </nav>

  </div>

</section><!-- eo:main-content -->