<section id="main-content" role="main">
  
<article class="block text bio">
  <h2 class="projects-title">Projects</h2>

  <p class="contact-deets">
    07737415300<br />
    <a href="mailto:hello@discoliam.com">hello@discoliam.com</a>
  </p>

  <p>Discoliam (Liam Edward Richardson to his parents) is a Front End Developer based in Bristol, UK.  He builds award wining websites, rides bicycles, enjoys live music and eats falafel.</p>
</article>


  <a href="http://www.personabmx.com/" title="Persona BMX" class="block large persona-bmx">
    <span class="title">Persona BMX</span>
    <span class="desc">Website for BMX Photographer Robin Pearson</span>
  </a>

  <a href="http://longfox.co.uk" title="Long Fox" class="block large longfox">
    <span class="title">Long Fox</span>
    <span class="desc">Website for the Long Fox art collective</span>
  </a>

  <a href="http://moustachebooth.herokuapp.com" title="Moustache Booth" class="block large moustache-booth">
    <span class="title">Moustache Booth</span>
    <span class="desc">getUserMedia experiment (w/ Craig Coles)</span>
  </a>

  <a href="http://brizzle-ipsum.herokuapp.com" title="Brizzle Ipsum" class="block large brizzle-ipsum">
    <span class="title">Brizzle Ipsum</span>
    <span class="desc">Brizzle Ipsum Generator (w/ Craig Coles)</span>
  </a>



<a href="http://www.goodenergy.co.uk" title="Good Energy" class="block medium good-energy">Good Energy</a>
<a href="http://www.gapmedics.co.uk" title="Gap Medics" class="block medium gap-medics">Gap Medics</a>
<a href="http://www.worktheworld.co.uk" title="Work The World" class="block medium work-the-world">Work The World</a>
<a href="http://rau.ac.uk" title="Royal Agricultural University" class="block medium rau">Royal Agricultural University</a>
<a href="http://www.bdh.net" title="BDH" class="block medium bdh">BDH</a>
<a href="http://www.jeremystrong.co.uk" title="Jeremy Strong" class="block medium puffin">Puffin</a>
<a href="http://www.transparency.org/glossary#/" title="Transparency International" class="block medium transparency">Transparency International</a>
<a href="http://www.market-watch.eu" title="Market Watch" class="block medium market-watch">Market Watch</a>
<a href="http://www.togetherwecan.org.uk" title="Together We Can" class="block medium twc">Together we Can</a>
<article class="block medium kia">Kia</article>
<article class="block medium the-adventurists">The Adventurists</article>
<article class="block medium onezeroone">101</article>
<article class="block medium scouts">Scouts</article>


<section class="block text contact vcard">

  <h2 class="contact-title">Contact</h2>
    <p><a href="mailto:hello@discoliam.com" class="email">hello@discoliam.com</a></p>
    <p><a class="tel">(+44) 07896411112</a></p>
    <p class="fn">
      Liam Richardson<br />
      <span class="role">Interactive Developer</span>
    </p>
     
  

</section>

<section class="block text cv">
  <h3>Curriculum vitae</h3>
  <div class="cv-links">
    <a href="#" title="Download CV">Download <span>(PDF)</span></a>
    <a href="#" title="View CV">View</a>
  </div>
</section>

  <nav class="social">
    <a href="http://twitter.com/discoliam" class="block small twitter" title="Twitter">Twitter</a>
    <a href="https://github.com/discoliam" class="block small github" title="Github">Github</a>
    <a href="http://instagram.com/discoliam" class="block small instagram" title="Instergram">Instagram</a>
    <a href="http://www.last.fm/user/discoliam" class="block small lastfm" title="Last.fm">Last.fm</a>
    <a href="http://www.facebook.com/liamrichardson" class="block small facebook" title="Facebook">Facebook</a>
    <a href="http://www.linkedin.com/in/liamrichardson" class="block small linkedin" title="LinkedIn">LinkedIn</a>
    <a href="skype:discoliam?call" class="block small skype" title="Skype">Skype</a>
    <a href="http://stackoverflow.com/users/3324005/discoliam" class="block small stackoverflow" title="Stack Ovrflow">Stack Overflow</a>
  </nav>
